.card {
  &__icon {
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    align-items: flex-end;
    color: rgba(255, 255, 255, .8);
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: .5rem;
      height: .5rem;
      background: #333;
      display: block;
      border-radius: 50%;
    }
  }
}